.row
  .large-3.columns
  .large-6.columns
    = form_tag '/users/create_new_player', :remote => true do
      = label_tag :name
      = text_field_tag :name, :autofocus => true
      = label_tag :phone
      = text_field_tag :phone
      = label_tag :email
      = text_field_tag :email
      = label_tag :password
      = password_field_tag :password
      = label_tag :password_confirmation
      = password_field_tag :password_confirmation
      = hidden_field_tag :current_team
      = link_to 'Cancel', '#', :'data-clear-form' => true, :class => 'button teamster-cancel-small'
      = submit_tag nil, :class => 'button teamster-go-small'
  .large-3.columns
