#game
  - if @next_game.nil?
    #game-header1= 'Select team or add games to this team roster'
  - if !@next_game.nil?
    .foundicon-right-arrow.i

    #game-header2= 'Next ' + @selected.first.team_name + ' Game'
    #game-header3= @future_games.first.date.stamp("Tue 25th March") + ', ' + @future_games.first.time.stamp("7:00pm")
    #game-header4= ' at ' + @future_games.first.location
    #map_canvas
      %script
        display_map(-33.8674869, 151.2069902, 12);
        = "add_marker(#{@next_game.latitude}, #{@next_game.longitude}, '#{@next_game.opponent}');"
    #droppable.ui-widget-header
      .game{:'data-game-id' => @next_game.id, :'data-auth-token' => form_authenticity_token}
      %p= 'Drag players to invite'
      #invited
        = render :partial => 'games/invited'
    / #invitation_nav
    /   =link_to('Text Invite','/users/txtform', :remote => true)

#photos
  = render :partial => 'teams/photos'

/ = link_to('Enter Results', edit_game_path(@selected.first.id), :remote => true)
/ #game_results

/ #form

#txtform