#game
  - if @next_game.nil?
    %p= 'Add games to this team roster'
  - if !@next_game.nil?
    %p= 'Next ' + @selected.first.team_name + ' Game:'
    %p= @next_game.date.stamp("Tue 25th March")
    #droppable.ui-widget-header
      .game{:'data-game-id' => @next_game.id, :'data-auth-token' => form_authenticity_token}
      %p= 'Drag players to invite'
      - if !@added_to_list.nil?
        -@invited_user_id.each do |id|
          - user = User.where(:id => id)
          - image = user.image
          #added-photos= image_tag(image)

/ -@invited_user_id.each do |id|
/   - user = User.where(:id => id)
/   - image = user.image
/   #added-photos= image_tag(image)


/ #map-canvas
/   %script
/     display_map(40.7316, -73.9901, 13);