#team-nav
  .navlinks= link_to 'Edit Profile', edit_user_path(@auth), :remote => true
  - if @auth.name == @selected.manager
    .navlinks= link_to 'Create New Team', new_team_path, :remote => true
    .navlinks= link_to 'Add a Player', new_player_users_path(@auth), :remote => true, :'data-reveal-id'=> "myModal"
    .navlinks= link_to 'Add Games', new_game_path, :remote => true
  - if @auth.present?
    .navlinks.logout= link_to(@auth.email, login_path, :method => :delete, :confirm => "Logout?")

#form

.row
  #teamlist
    = render(:partial => 'teamlist')
  #game-panel
    = render :partial => 'teams/game'
  #photos
    = render :partial => 'teams/photos'

#myModal.reveal-modal
  = form_for @user, :remote => true do |f|
    = f.label :name
    = f.text_field :name, :autofocus => true
    = f.label :phone
    = f.text_field :phone
    = f.label :email
    = f.text_field :email
    = f.label :password
    = f.password_field :password
    = f.label :password_confirmation
    = f.password_field :password_confirmation
    = link_to 'x', '#', :'data-clear-form' => true, :class => 'close-reveal-modal'
    = f.submit nil, :class => 'button tiny radius success'



/ =form_for @user, sendtxt_users_path do |f|
/   =f.text_field :body
/   =f.submit 'Send Text'