.row
  .large-3.columns
  .large-6.columns
    = 'First create your manager login'
    =render(:partial => 'shared/errors', :locals => {:object => @user})
    = form_for @user, :url => users_path, :remote => true do |f|
      = f.label :name
      = f.text_field :name
      = f.label :email
      = f.text_field :email
      = f.label 'Team Name'
      = f.text_field :current_team
      = f.label :password
      = f.password_field :password
      = f.label :password_confirmation
      = f.password_field :password_confirmation
      = link_to 'Cancel', '#', :'data-clear-form' => true, :class => 'button teamster-cancel-small'
      = f.submit nil, :class => 'button teamster-go-small'
  .large-3.columns