#homepage-image

#homepage

#homebuttons
  - if @auth.nil?
    = link_to('Manage a Team', new_user_path, :remote => true, :'data-reveal-id'=> "myModal", :class => 'button teamster-manager')
    = link_to('Login', login_path, :remote => true, :class => 'button teamster-login', :"data-dropdown" => 'drop')

  #nav
    = render :partial => 'layouts/nav'


  - if @auth.nil?
    #drop.f-dropdown.content
      = render :partial => 'session/form'


#myModal.reveal-modal
  .row
    .large-3.columns
      = 'First create your manager login'
      =render(:partial => 'shared/errors', :locals => {:object => @user})
      = form_for @user, :url => users_path, :remote => true do |f|
        = f.label :name
        = f.text_field :name
        = f.label :email
        = f.text_field :email
        = f.label :password
        = f.password_field :password
        = f.label :password_confirmation
        = f.password_field :password_confirmation
        = link_to 'x', '#', :'data-clear-form' => true, :class => 'close-reveal-modal'
        = f.submit nil, :class => 'button tiny radius success'
    .large-9.columns