#form

#homepage
  #homepage-text-welcome= 'ORGANISING YOUR TEAMS WITH'
  #homepage-text= 'TEAM8'

#homebuttons
  - if @auth.nil?
    = link_to('Start Team', new_user_path, :remote => true, :class => 'button teamster-manager')
    = link_to('Login', login_path, :remote => true, :class => 'button teamster-login')

  #nav
    = render :partial => 'layouts/nav'


  - if @auth.nil?
    #drop.f-dropdown.content
      = render :partial => 'session/form'

